/**********************************/
/********** General CSS ***********/
/**********************************/
*,
*::before,
*::after {
  box-sizing: border-box;
}

@font-face {
  font-family: "fontJedi";
  src: url("../img/Starjedi.ttf");
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(251, 249, 249, 0);
}

body {
  font-family: "Lato", sans-serif;
  color: #fff;
  font-weight: 300;
  background-image: url("../img/background.jpg");
  background-repeat: repeat;
  background-color: #cccccc;
  padding: 0 10px;
}
footer {
  text-align: center;
}

a {
  color: #fff;
  font-weight: 400;
  outline: none;
  text-decoration: none;
  transition: 0.5s;
}

a:hover,
a:active,
a:focus {
  outline: none;
  text-decoration: none;
}

titulo {
  font-family: "fontJedi";
  color: #fff;
  font-size: 50px;
  text-align: center;
  letter-spacing: 10px;
}

p {
  padding: 0;
  margin: 0 0 15px 0;
  color: #fff;
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0 0 15px 0;
  color: #fff;
  font-weight: 700;
}

h1 {
  font-weight: 900;
}

/**********************************/
/***** Layout & Section Title *****/
/**********************************/

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.linha {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content:space-evenly;
}

.coluna {
  position: relative;
  width: 50%;
  max-width: 350px;
}

.section-title {
  width: 100%;
  text-align: center;
  align-items: center;
  padding: 75px 0 40px 0;
}

.section-title::after {
  position: absolute;
  width: 16px;
  height: 5px;
  left: calc(50% - 16px);
  background: #fff;
}

.section-title img {
  width: 50rem;
  max-width: 100%;
}

.grupo {
  margin-top: 5rem;
  margin-left: 5rem;
  margin-right: 5rem;
}

.grupo .imagem-pessoa {
  position: relative;
  font-size: 0;
  text-align: center;
  border-radius: 100%;
  margin-bottom: 30px;
  overflow: hidden;
}

.grupo .imagem-pessoa img {
  width: 100%;
  height: auto;
  border-radius: 100%;
  border: 10px solid rgb(133, 203, 243);
  transition: all 0.3s;
}

.grupo:hover .imagem-pessoa img {
  border: 0px solid rgb(94, 99, 244);
}

.grupo .team-content {
  text-align: center;
}

.grupo .team-content h2 {
  font-size: 25px;
  font-weight: 700;
  letter-spacing: 2px;
  margin-bottom: 5px;
}

.grupo .team-social {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0;
  padding: 12px 0 10px 0;
}

.grupo .team-social a {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-right: 5px;
  padding: 12px 0 10px 0;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  color: #ffffff;
  border-radius: 100%;
  transition: all 0.3s;
}

.grupo .team-social a.social-curriculo {
  background: #3b5998;
}

.grupo .team-social a.social-li {
  background: #0e76a8;
}

.grupo .team-social a:hover {
  background: #222222;
}

@media (max-width: 750px) {
  titulo {
    font-size: 45px;
  }

  .linha {
    flex-direction: column;
  }

  .coluna {
    width: 50%;
    min-width: 300px;
  }
}

@media (max-width: 400px) {
  titulo {
    font-size: 40px;
  }
}